.bg{
    background-image: url(./../../assets/imges/landing-page/sec-6/bg-sec6.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: right;
    background-position-y: top;
}